/* For footer style */
.footer {
    background-color: white;
    height:60px;
    width:100%;
    border-top: 1px solid #CCCCCC;
    bottom:0;
    position: absolute;
    display: flex;
    justify-content: center; /*Horizontal*/
    align-items: center; /*Vertical*/
}
