/* For places style */
.places {
    display: flex;
    flex-direction: column;
}

.places h1 {
    font-size: 30px;
    margin-left: 25px;
}

.places div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: center;
}

.places article h2 {
    font-size: 30px;
}
